@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Wet+Paint&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:rgb(200, 0, 0);
    --primary-color:rgb(231, 41, 69);
    --secundary-color: rgb(208, 79, 109);
    --font-selecionada: "Playwrite GB S", cursive;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
}
.barra{
    width: 100%;
    padding: 2rem;
    position: fixed;
    box-shadow: 1px 2px var(--secundary-color);
}